.App {
  /*text-align: center;*/
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.table-header, .table-body {
  display: grid;
  grid-template-columns: repeat(10, 65px);

}

.table-header {
    font-weight: 600;
}

.table {
  text-align: center;
}

.qb-wrapper {
    display: grid;
    grid-template-columns: 175px 1fr
}

.stats-container {
    display: grid;
    grid-template-areas: 
        'table graph'
        'week graph'
}

.week-by-week-container {
    grid-area: week;
}

.qb-table-container { 
    grid-area: table;
}

.line-chart-container {
    grid-area: graph
}