@import url('https://fonts.googleapis.com/css?family=Bangers|Tenor+Sans');

.App {
	/*text-align: center;*/
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 80px;
}

.App-header {
	background-color: #222;
	height: 150px;
	padding: 20px;
	color: white;
}

.App-title {
	font-size: 3em;
	display: flex;
	align-items: center;
}

.App-intro {
	font-size: large;
}

@keyframes App-logo-spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}


.table-header, .table-body {
	display: grid;
	grid-template-columns: repeat(10, 65px);

}

.table-header {
		font-weight: 600;
}

.table, .totals {
	text-align: center;
}

a {
	text-decoration: none;
	color: black;
}

#root {
}

#app {
	display: grid;
	grid-template-columns: repeat(12, auto);
	grid-template-rows: auto;
	grid-template-areas:
		"header header header header header header header header header header header header"
		"leftnav main main main main main main main main main main main"
		"footer footer footer footer footer footer footer footer footer footer footer footer"
}

.header {
	grid-area: header;
	background-color: mediumseagreen;
	font-family: "Bangers", cursive;
	display: flex;
}
.footer {
	grid-area: footer;
	background-color: #f2f2f2;

}

.leftnav {
	grid-area: leftnav;
	width: auto;
	background-color: #f2f2f2;
	font-family: "Tenor+Sans", sans-serif;

}
	.navlinks {
		text-align: center;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
		.navlinks li {
			padding: 15px;
		}
		.navlinks a {
			font-size: 18px;
		}

.main-container {
	padding: 15px 0px 0px 15px;
	grid-area: main;
	background-color: beige;
	font-family: "Tenor+Sans", sans-serif;
}

.sub-content {
	display: flex;
}

.table-header, .table-body {
	grid-template-columns: repeat(13, 45px);
	font-size: 12px;
}

.table-category {
	display: grid;
	grid-template-columns: repeat(13, 45px);
	text-align: center;
}

#passing {
	grid-column: 2/5;
	background-color: red;
}
#receiving {
	grid-column: 5/9;
	background-color: blue;
}
#rushing {
	grid-column: 9/11;
	background-color: green;
}
#misc {
	grid-column: 11/-1;
	background-color: orange;
}

.playerModal {
	min-width: 360px;
}
.player-card {
	display: flex;
	justify-content: space-evenly;
}

.table {
	background-color: #ffffff;
}
.totals {
	background-color: #f3f3f3;
	font-weight: 600;
	padding: 3px;
}

#years {
	display: flex;
	justify-content: space-evenly;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/*small vp*/
@media only screen and (max-width: 735px) {
	#app {
		grid-template-areas:
			"header"
			"leftnav"
			"main"
			"footer";
		grid-template-columns: 1fr;
		grid-template-rows: auto auto 1fr;
	}
	.sub-content {
		flex-direction: column-reverse;
	}
	.header {
		grid-row: 1;
	}
	.leftnav {
		grid-row: 2;
	}
	.main {
		grid-row: 3;
	}
	.leftnav ul {
		display: flex;
		justify-content: space-around;
	}

}


.full-logo {
	background-image: url("../src/images/full_football_black_970w.png");
	background-size: 420px 100px;
    width: 420px;
    height: 100px;
    background-repeat: no-repeat;
    margin: 15px 30px;
}

@media only screen and (max-width: 1068px) {
    .full-logo {
		background-image: url("../src/images/icon_football_black_160w.png");
		background-size: 60px 70px;
	    width: 60px;
	    height: 70px;
	    background-repeat: no-repeat;
    }
    .App-title {
    	font-size: 2.5em;
    }
}

@media only screen and (max-width: 735px) {
	.full-logo {
		background-image: url("../src/images/icon_football_black_160w.png");
		background-size: 40px 45px;
	    width: 40px;
	    height: 45px;
	    background-repeat: no-repeat;
	    margin: 5px 10px;
    }
	.App-title {
    	font-size: 1.75em;
    }
}
.sub-content {
	overflow:hidden;
}
.position-wrapper {
	height: 750px;
	overflow-y: scroll;
}
ul li {
	list-style-type: none;
}
ul {
	padding-left: 0;
}
